{% extends 'main.html' %}
{% block main %}
<section>
      <div class="container">
            <div><h5>Our Clubs</h5></div>
            <div class="row">
                  <div class="club_card">
                        <div><span>Programming Club</span></div>
                        <div>
                              <img src="" alt="">
                        </div>
                        <div>
                              <div><span>Totall Members</span></div>
                        </div>
                        <a class="btn" href="#">Details</a>
                  </div>
            </div>
            <div class="row">
                  <div class="club_card">
                        <div><span>Programming Club</span></div>
                        <div>
                              <img src="" alt="">
                        </div>
                        <div>
                              <div><span>Totall Members</span></div>
                        </div>
                        <a class="btn" href="#">Details</a>
                  </div>
            </div>
      </div>
</section>
{% endblock main %}