{% extends 'main.html' %}
{% load static %}
{% block main %}
<style>
    .p-banner .poster img {
        width: 100% !important;
        height: 35rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .arrow-left {
        position: relative;
    }

    .box.arrow-left::after {
        content: " ";
        position: absolute;
        left: -35px;
        top: 55px;
        border-top: 35px solid transparent;
        border-right: 35px solid #cc6600;
        border-left: none;
        border-bottom: 35px solid transparent;
    }

    .arrow-right {
        position: relative;
    }

    .box.arrow-right:after {
        content: " ";
        position: absolute;
        right: -35px;
        top: 55px;
        border-top: 35px solid transparent;
        border-right: none;
        border-left: 35px solid #cc6600;
        border-bottom: 35px solid transparent;
    }
    .card_hover{
        text-decoration: none;
    }
    .card_hover:hover{
        box-shadow: 5px 5px 5px rgb(99 99 99);
        transition: 0.3s;
        text-decoration:underline;
    }
    .card_hover:hover .profile_image{
        
        transform: scale(1.5);
    }
</style>
    <div class="p-banner">
        <div class="container-fluid">
            <div class="poster" style="overflow: hidden;">
                <img src="../static/images/programming-club-banner.jpg"{% static 'images/programming-club-banner.jpg' %} alt="">
                <H1 class="text-center p-5"
                    style="    margin-top: 2px;
                    color: #efeef5;
                    font-size: 60px;
                    margin-bottom: 2px;
                    position: absolute;
                    top: 30%;
                    width: 100%;;">
                    Programming Club
                </H1>
            </div>
        </div>
    </div>

    <!-- <H1 class="text-center p-5"
        style="background-image: url(../static/images/water-dropsjpg.jpg); background-repeat: no-repeat; background-size: cover; margin-top: 2px; color: #0d00f5; font-size: 60px; margin-bottom: 2px;">
        Programming Club
    </H1> -->
    
    <div class="container-fluid" style="background-color:rgb(58, 58, 58);">
        <div class="row text-center">
            <h1 class="mx-auto py-2 my-2" style="font-size:50px;color: white">MEMBERS</h1>
        </div>
        <div class="container row justify-content-center ">
            {% for aclub in club_member %}
              
              <div class="col-md-4 col-lg-4 small-d" style="    text-align: -webkit-center;">
                    <a href="{% url 'memberDetails' aclub.member.id aclub.club.club_name aclub.member.student_id%}" class="card_hover">
                        <div class="card" style="width: 20rem;overflow:hidden;align-items: center;">
                                <div style="overflow:hidden;">
                                    {% if background_image %}
                                        {% for image in background_image %}
                                            {% if image.member.student_id == aclub.member.student_id and image %}
                                                
                                                <img style="height:200px" src="{{image.image.url}}"/>
                                                
                                            
                                            {% endif %}
                                            
                                        {% endfor %}  
                                    {% else %}
                                        <img style="height:200px" src="{% static 'images/programming-club-banner.jpg' %}"/>
                                    {% endif %}
                            
                                    <div style="    width: 110px;
                                        height: 110px;
                                        top: 16%;
                                        overflow: hidden;
                                        position: absolute;
                                        left: 33%;
                                        border-radius: 66px;">
                                        {% if profile_image %}
                                            {% for image in profile_image %}
                                                {% if image.member.id == aclub.member.id %}
                                                    <img class="profile_image" src="{{image.image.url}}" style="object-fit: cover;width: 100%;height:100%" alt=""/>
                                                
                                                {% endif %}

                                            {% endfor %}
                                        {% else %}
                                            <img class="profile_image" src="{% static 'images/deafult_user.png' %}" style="object-fit: cover;width: 100%;height:100%" alt=""/>
                                        {% endif %}
                                    </div>
                                </div>
                            
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{aclub.member.user_name}}</h5>
                                    <p style="margin-bottom: 5px">Student ID:  {{aclub.member.student_id}}</p>
                                    <p style="margin-bottom: 0px">Batch : {{aclub.member.batch_no}}</p>
                                </div>
                        </div>
                    </a>
              </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid" style="background-color:rgb(58, 58, 58);">
        <div class="row text-center">
            <h1 class="mx-auto py-2 my-2" style="font-size:50px;color: white">President's Message</h1>
        </div>
        <div class="row py-5">
            <div class="col-sm-6 text-center"><img src="../static/images/man-icon.png"
                    style="border-radius: 150px;height:250px; width:250px ;box-shadow:0px 0px 20px 0px white;"></div>
            <div class="col-sm-6 text-center"
                style="border-radius: 10px; background-color:#596275;box-shadow: 0px 0px 20px 0px white; width: 46%;">
                <h5 class="text-white mt-5" style="font-family: 'Boogaloo', cursive;">In our programming club everyone
                    will improve together their programming skills. So join programming club and let us develop our
                    skills.</h5>
                <h3 class="text-white"> - (Programming)</h3>
            </div>
        </div>
    </div>

    <!-- =========About Us Section========== -->
    <div id="maindiv2" style="background-color:#2d2d2d; margin-top: 2px;">
        <div class="mycontainer py-5" id="aboutus" style="background-color:#2a2a2a">
            <div class="myrow py-2">
                <div class="col-12 text-white pt-2">
                    <h1 class="text-center" style="font-size: 60px;font-family:sans-serif">About Us</h1>
                </div>
                <div class="col-12 text-white px-5 py-5" style="text-align: center">
                    <h4>We are students of Bangabandhu Sheikh Mujibur Rahman Science and Technology University -
                        Gopalganj-8100. Our mission is to create a fun and
                        supportive environment where we develop programming and statistic skills together.We want to
                        replace statistics anxiety and code fear with inspiration and motivation to learn, and here we
                        will share our experience.To represent our department in various inter-college or university
                        fests.
                    </h4>
                </div>

            </div>

        </div>
    </div>
    <!-- =========About Us Section END========== -->


    <!-- =============Mentors========== -->
    <div class="mentor py-5" style="background-color: black; margin-top: 1px;">
        <h4 class="text-light text-center pb-2 pt-3" style="font-family:cursive">“A good programmer is someone who
            always looks both ways before crossing a one-way street"
        </h4>
        <div class="container">
            <div class="row">
                <h1 class="mx-auto text-light text-center py-5" style="font-size: 60px;font-family:sans-serif">Our
                    Mentors</h1>

            </div>
            <div class="row">

                <div class="col-sm-6 text-center text-white">
                    <img src="../static/images/martuza.jpg" style="height: 18rem; width: 16rem; border-radius: 10px">

                </div>
                <div class="col-sm-6 text-center text-white"
                    style="background-color:#cc6600;box-shadow: 0px 0px 20px 0px white">
                    <h1 style="border-bottom: 2px solid white" class="py-3">Faculty Coordinator</h1>
                    <h3 class="py-4">Md. Martuza Ahamad</h3>
                    <div class="text-center my-2"> <a style="color: black;" href=""><span
                                class="fa-brands fa-facebook mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;"></span></a>
                        <a href="" style="color: black"><span class="fa-brands fa-twitter  mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;">
                            </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =============Mentors END========== -->


    <!-- ================Core Team ============== -->
    <div class="core-team py-5" style="background-color: black; margin-top: 0.4px;">
        <div class="container" id="team" style="background-color: black;">
            <dicv class="row">

                <h1 class="my-5 mx-auto text-light text-center" style="font-size: 60px;font-family:sans-serif">Core Team
                </h1>
            </dicv>
            <div class="row py-5" id="card-one">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center"><img class="" src="../static/images/man-icon.png"
                        style="border-radius: 150px;height:250px; width:250px ;box-shadow:0px 0px 3px 0px white;"></div>

                <div class="col-md-4 box arrow-left" style="background-color:#cc6600;box-shadow:0px 0px 20px 0px grey;">
                    <h1 class="text-center text-white py-3" style="border-bottom: 2px solid white">President</h1>
                    <p class="text-center text-white px-3 py-2">Md ******* </p>
                    <div class="text-center mt-4"> <a href="" style="color: black"><span
                                class="fa-brands fa-facebook  mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;">
                            </span></a>
                        <a href="" style="color: black"><span class="fa-brands fa-twitter  mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;">
                            </span></a>
                    </div>
                </div>

            </div>

            <div class="row py-5">

                <div class="col-md-4 box arrow-right  float-lg-right order-2 order-md-1"
                    style="background-color:#cc6600;box-shadow:0px 0px 20px 0px grey;">
                    <h1 class="text-center text-white py-3" style="border-bottom: 2px solid white">Vice-President</h1>
                    <p class="text-center  text-white px-3 py-2">Md *******</p>
                    <div class="text-center mt-4"> <a href="" style="color: black"><span
                                class="fa-brands fa-facebook  mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;">
                            </span></a>
                        <a href="" style="color: black"><span class="fa-brands fa-twitter  mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;">
                            </span></a>
                    </div>
                </div>
                <div class="col-md-4 text-center order-1 order-md-2"><img class="" src="../static/images/man-icon.png"
                        style="border-radius: 150px;height:250px; width:250px ;box-shadow:0px 0px 3px 0px;"></div>
                <div class="col-md-4 order-md-3"></div>


            </div>

            <div class="row py-5" id="card-one">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center"><img class="" src="../static/images/man-icon.png"
                        style="border-radius: 150px;height:250px; width:250px ;box-shadow:0px 0px 3px 0px white;"></div>

                <div class="col-md-4 box arrow-left" style="background-color:#cc6600;box-shadow:0px 0px 20px 0px grey;">
                    <h1 class="text-center text-white py-3" style="border-bottom: 2px solid white">General Secretory
                    </h1>
                    <p class="text-center text-white px-3 py-2">Md *******</p>
                    <div class="text-center mt-4"> <a href="" style="color: black"><span
                                class="fa-brands fa-facebook  mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;">
                            </span></a>
                        <a href="" style="color: black"><span class="fa-brands fa-twitter  mx-2 fa-4 py-3 px-3 dot"
                                style="font-size: 25px; border: 1px solid #fff; border-radius: 50%; background-color: #fff;">
                            </span></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- ================Core Team END============== -->


    <!-- ===========We Teach============ -->
    <div class="myrow1 text-center py-5" style="background-color: gray;">
        <h1 class=" col-12 text-light" style="font-size: 3rem">We Teach</h1>
        <img class="mx-auto my-3" src="../static/images/language.png" style="    height: 32rem;
        width: 65rem;">
    </div>
    <!-- ===========We Teach End============ -->

{% endblock main %}
{% block title %}
Programming Club
{% endblock title %}



