{% extends 'main.html' %}
{% load static %}

{% block main %}

    <style type="text/css">
        /* ============ only desktop view ============ */
        @media all and (min-width: 992px) {
            .menubar1 .dropdown-menu-end {
                right: 0;
                left: auto;
            }

            .menubar1 .nav-item1 .dropdown-menu1 {
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                margin-top: 0;
            }

            .menubar1 .nav-item1:hover .nav-link {
                color: #fff;
            }

            .menubar1 .dropdown-menu1.fade-down {
                top: 80%;
                transform: rotateX(-75deg);
                transform-origin: 0% 0%;
            }

            .menubar1 .dropdown-menu1.fade-up {
                top: 180%;
            }

            .menubar1 .nav-item1:hover .dropdown-menu1 {
                transition: .3s;
                opacity: 1;
                visibility: visible;
                top: 100%;
                transform: rotateX(0deg);
            }
        }

        /* ============ desktop view .end// ============ */

        .count-list ul li .count-set {
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            background-color: #08c;
            line-height: 40px;
            font-size: 18px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
            font-weight: 600;
        }

        .vc_parallax .count-list ul li {
            display: flex !important;
        }

        .count-list ul li {
            font-size: 24px;
            color: #fff;
            margin-bottom: 20px;
        }

        .count-list ul {
            list-style-type: none;
            padding-left: 0;
        }

        #content .wpb_text_column :last-child,
        #content .wpb_text_column p:last-child,
        .wpb_alert p:last-child,
        .wpb_text_column :last-child,
        .wpb_text_column p:last-child {
            margin-bottom: 0;
        }

        .vc_parallax .count-list ul li p {
            margin-top: 7px;
            margin-left: 10px;
        }

        .count-list ul li p {
            display: inline-block;
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-family: Muli;
            font-weight: inherit;
        }

        .vc_general.vc_btn3 {
            border: 1px solid transparent;
        }

        .vc_btn3.vc_btn3-size-md {
            border-radius: 4px;
        }

        .app-quote-btn a {
            background-color: #08c !important;
            color: #fff !important;
            font-size: 20px !important;
            font-weight: 600;
        }

        .vc_general.vc_btn3 {
            display: inline-block;
            margin-bottom: 0;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            background-color: transparent;
            color: #5472d2;
            border: 1px solid transparent;
            box-sizing: border-box;
            word-wrap: break-word;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-decoration: none;
            position: relative;
            top: 0;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            line-height: normal;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            font-size: 14px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    <H1 class="text-center p-5"
        style="background-image: url({% static 'images/water-dropsjpg.jpg' %}); background-repeat: no-repeat; background-size: cover; margin-top: 2px; color: #0d00f5; font-size: 60px; margin-bottom: 2px;">
        Software & Mobile Application Club
    </H1>
    <!-- ======Banner===== -->
    <div class="banner-section" style="background-color: #bfcdfe;">
        <div class="container">
            <section data-vc-full-width="true" data-vc-full-width-init="true" data-vc-parallax="1"
                class="vc_section vc_custom_1563175273686 vc_section-has-fill vc_general vc_parallax vc_parallax-content-moving"
                style="position: relative; left: -184.6px; box-sizing: border-box; width: 1479px; padding-left: 184.6px; padding-right: 184.4px;">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row row"
                    style="position: relative; left: -60px; box-sizing: border-box; width: 1479px; padding-left: 60px; padding-right: 60px;">
                    <div class="vc_column_container col-md-6">
                        <div class="wpb_wrapper vc_column-inner">
                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                            </div>
                            <h3 style="color: #496b9f; font-weight: 900; font-size: 36px;
                            line-height: 42px;" class="vc_custom_heading align-left">Make Your Own App for Clubs,
                                Association, Communities</h3>
                            <div class="wpb_text_column wpb_content_element  count-list"
                                style="font-size: 16px; margin-top: 2rem;">
                                <div class="wpb_wrapper">
                                    <p><span style="font-weight: 400;">Our App Development for Clubs &amp; Associations
                                            lets your club:</span></p>
                                    <ul>
                                        <li>
                                            <div class="count-set">01</div>
                                            <p><span style="font-weight: 400;">To Notify for meetings &amp;
                                                    accolades</span></p>
                                        </li>
                                        <li>
                                            <div class="count-set">02</div>
                                            <p><span style="font-weight: 400;">To Chat with nearby users</span></p>
                                        </li>
                                        <li>
                                            <div class="count-set">03</div>
                                            <p><span style="font-weight: 400;">To Manage membership fee
                                                    collection</span></p>
                                        </li>
                                        <li>
                                            <div class="count-set">04</div>
                                            <p><span style="font-weight: 400;">Access Gallery and much more</span></p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="vc_btn3-container  app-quote-btn vc_btn3-inline my-5">
                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-default vc_btn3-style-classic wpb_custom_4eba9bcc8f6c36e45e1d476fc3d9024c vc_btn3-color-grey btn"
                                    href="#click-form" title="">Get Quick Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="vc_column_container col-md-6">
                        <div class="wpb_wrapper vc_column-inner">
                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                <div class="wpb_wrapper">

                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="650"
                                            height="534"
                                            src="https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy.png"
                                            class="vc_single_image-img attachment-full lazyloaded" alt=""
                                            sizes="(max-width: 650px) 100vw, 650px"
                                            srcset="https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy.png 650w, https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy-600x493.png 600w, https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy-500x411.png 500w"
                                            data-ll-status="loaded"><noscript><img width="650" height="534"
                                                src="https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy.png"
                                                class="vc_single_image-img attachment-full" alt=""
                                                srcset="https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy.png 650w, https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy-600x493.png 600w, https://www.dotcominfoway.com/wp-content/uploads/2019/01/imagebg-copy-500x411.png 500w"
                                                sizes="(max-width: 650px) 100vw, 650px" /></noscript></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div class="vc_parallax-inner skrollable skrollable-between" data-bottom-top="top: 0%;"
                    data-top-bottom="top: 0%;" style="height: 100%; top: 0%;"></div>
            </section>
        </div>
    </div>
    <!-- ======Banner END===== -->
    <!---Members-->
    <div class="container-fluid" style="background-color:rgb(58, 58, 58);">
        <div class="row text-center">
            <h1 class="mx-auto py-2 my-2" style="font-size:50px;color: white">MEMBERS</h1>
        </div>
        <div class="container row justify-content-center ">
            {% if club_member %}
                {% for aclub in club_member %}
                    <div class="col-md-4 col-lg-4 small-d" style="text-align: -webkit-center;">
                            <a href="{% url 'memberDetails' aclub.member.id aclub.club.club_name aclub.member.student_id%}" class="card_hover">
                                <div class="card" style="width: 20rem;overflow:hidden;align-items: center;">
                                        <div style="overflow:hidden;">
                                                {% if background_image %}
                                                    {% for image in background_image %}
                                                        {% if image.member.id == aclub.member.id%}
                                                            <img style="height:200px" src="{{image.image.url}}"/>
                                                        
                                                        {% endif %}
                                                    {% endfor %}  
                                                {% else %}
                                                    <img style="height:200px" src="{% static 'images/programming-club-banner.jpg' %}"/>
                                                {% endif %}
                                    
                                            <div style="    width: 110px;
                                                height: 110px;
                                                top: 16%;
                                                overflow: hidden;
                                                position: absolute;
                                                left: 33%;
                                                border-radius: 66px;">
                                                {% for image in profile_image %}
                                                    {% if image.member.id == aclub.member.id %}
                                                        <img class="profile_image" src="{{image.image.url}}" style="object-fit: cover;width: 100%;height:100%" alt="">
                                                    
                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>
                                    
                                        <div class="card-body">
                                            <h5 class="card-title text-center">{{aclub.member.user_name}}</h5>
                                            <p style="margin-bottom: 5px">Student ID:  {{aclub.member.student_id}}</p>
                                            <p style="margin-bottom: 0px">Batch : {{aclub.member.batch_no}}</p>
                                        </div>
                                </div>
                            </a>
                    </div>
                {% endfor %}
            {% else %}
                <h1 style="text-align:center;color:white">No MEMBERS</h1>
            {% endif %}
        </div>
    </div>
    <!---Members End-->
    <!-- =============Software Club Section============= -->
    <div class="software-club-section" style="padding-bottom: 5rem; background-color: #d2a4f4;">
        <div class="container pt-5">
            <div class="row services-column">
                <div class="col-sm-6 text-center"
                    style="border-radius: 10px; background-color:#e7e7e7;box-shadow: 0px 0px 20px 0px white; width: 46%;">
                    <h1 class="text-black pt-3">Mobile App</h1>
                    <h5 class="text-black mt-5" style="font-family: 'Boogaloo', cursive;">In today's competitive world,
                        the
                        ClubNow Mobile App is the best tool to help your club stand
                        out from the competition. An end-to-end online experience with smooth navigation for quick
                        reservations and instant notifications.</h5>

                </div>

                <div class="col-sm-6 text-center">
                    <div class="serivces-link">
                        <img alt="Club Membership software- Mobile App" src="../../static/images/Mobile-App.png"
                            title="Club Membership software- Mobile App" style="height: 15rem; border-radius: 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =============Software Club Section End============= -->
    <!-- =========New Section========== -->
    <div class="service-section py-5" style="background-color: #cfd7ff;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 py-5">
                    <div class="p-5 bg-light" style="width: 23rem; border-radius: 10px;">
                        <h3 class="py-2">Modern Patterns</h3>
                        <div class="">
                            <p>We use modern development &amp; deployment
                                practices to deliver high quality mobile apps at record speed. See your latest releases
                                in
                                real
                                time without app store approval.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-5">
                    <div class="p-5 bg-light" style="width: 22rem; border-radius: 10px;">
                        <h3 class="py-2">Cross-Platform</h3>
                        <div class="">
                            <p>No need to maintain separate mobile
                                application code bases. With modern tech like React Native, our teams deploy across
                                multiple
                                platforms instantly.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-5">
                    <div class="p-5 bg-light" style="width: 22rem; border-radius: 10px;">
                        <h3 class="py-2">Single Codebase</h3>
                        <div class="">
                            <p>Our teams deploy mobile apps on both iOS and
                                Android from the same code base, simplifying mobile app development for your business,
                                and
                                other
                                engineers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =========New Section End========== -->
    <!-- ===========Members============== -->
    <div class="member">
        <h3 class="text-center" style="color: rgb(249, 255, 202);">Committee</h3>
        <div class="container container1 d-block mt-5 text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card0 card-member">
                        <h3 class="Text-center">Vice President</h3>
                        <div class="border">
                            <h2>Md Azharul Islam</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card1 card-member">
                        <h3 class="Text-center">President</h3>
                        <div class="border">
                            <h2>Dr. Saleh Ahmed</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card2 card-member">
                        <h3 class="Text-center">Vice President</h3>
                        <div class="border">
                            <h2>Abdul Muhaimin Adip</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===========Members End============== -->
{% endblock main %}
{% block title %}
Software and mobile application
{% endblock title %}




