
{% extends 'main.html' %}
{% block main %}


    <H1 class="text-center p-5">About Us</H1>

    <!-- ===========Members============== -->
    <div class="member">
        <h3 class="text-center" style="color: rgb(249, 255, 202);">Committee</h3>
        <div class="container container1 d-block mt-5 text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card0 card-member">
                        <h3 class="Text-center">Vice President</h3>
                        <div class="border">
                            <h2>Md Azharul Islam</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card1 card-member">
                        <h3 class="Text-center">President</h3>
                        <div class="border">
                            <h2>Dr. Saleh Ahmed</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card2 card-member">
                        <h3 class="Text-center">Vice President</h3>
                        <div class="border">
                            <h2>Abdul Muhaimin Adip</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===========Members End============== -->







    {% endblock main %}